<div class="sidebar">
    <div class="sidebar-header">
        <h2 class="side-brand">WitCheck</h2>
        <p class="side-text">Smarter. Faster. Fun.</p>
    </div>

    <nav class="menu">
        <a href="/" class="menu-item">
            <img src="images/Logo.png" alt="Start" class="menu-icon" />
            <span>Start</span>
        </a>
        <a href="/AccountHomePage" class="menu-item">
            <img src="images/home.png" alt="Home" class="menu-icon" /> 
            <span>Home</span>
        </a>
        <a href="/AccountDetailsPage" class="menu-item">
            <img src="images/user.png" alt="Account" class="menu-icon" /> 
            <span>Account</span>
        </a>
        <a href="/OwnedQuizPage" class="menu-item">
            <img src="images/console.png" alt="My Quiz" class="menu-icon" /> 
            <span>My Quiz</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <img src="images/Logo.png" alt="WitCheck Logo" class="sidebar-logo" />
        <p class="footer-text">© 2025 WitCheck</p>
    </div>
</div>
